<launch>
  <arg name="video_stream_provider" doc="full path to the video file" />
  <arg name="width" doc="image width in pixels" />
  <arg name="height" doc="image height in pixels" />
  <arg name="frame_count" doc="number of images to read in file" />
  <arg name="fps" doc="frames per second output rate" />

  <include file="$(find raw_video_stream)/launch/camera.launch" >
    <arg name="camera_name" value="camera" />
    <arg name="video_stream_provider" value="$(arg video_stream_provider)" />
    <arg name="fps" value="$(arg fps)" />
    <arg name="frame_id" value="videofile_frame" />
    <arg name="camera_info_url" value="" />
    <arg name="flip_horizontal" value="false" />
    <arg name="flip_vertical" value="false" />
    <arg name="width" value="$(arg width)" />
    <arg name="height" value="$(arg height)" />
    <arg name="frame_count" value="$(arg frame_count)" />
    <arg name="visualize" value="true" />
  </include>
</launch>
